header{
    text-align: center;
    font-family: 'Rock Salt', cursive; 
    font-size: 15px;
    color:red; 
    line-height: 1.7em;
}




.characterSelectBox{ 
    text-align: center; 
    /* position: absolute; */
}

.characterSelectBox div{
    display: inline-block;
}


#scorpion{
    width: 270px;
    height: auto;
    text-align:center;


}

#subZero{
    width: 300px;
    height: auto;
    text-align: center;
    

} 

#liuKang{
    width: 320px;
    height: auto; 
    text-align: center;
    

}

.menu{
    background-image:url("../img/Menu.jpg");
    background-size:cover; 
}

.fight{
    background-image:url("../img/fight.png"); 
    background-size: cover; 
}

.actionSelector{
    text-align: center;
    border: 1px solid red; 
    width: 15em;
    /* float: left;  */
    margin-top: 20vh;
    display: inline-block;
}

.actionSelectorTwo{ 
    text-align: center; 
    border: 1px solid red; 
    width: 15em;
    /* float: right; */
    margin-top: 20vh;
    display: inline-block;
}

.Health{
    vertical-align: top; 
    font-family: 'Rock Salt', cursive; 
    color: white;
    position: absolute;
}

#myFighterSelect{
    width: 25vw;
    height: 50vh; 
    display: left;
    text-align: left;
    border: 1px solid red;
}
#yourFighterSelect{
    width: 25vw;
    height: 50vh; 
    display: left;
    text-align: left;
    border: 1px solid red;
    
}
#battleArena{
    width: 90vw; 
    height: 50vh;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

